
@{
    ViewBag.Title = "Main";
}
<link href="~/Content/Main.css" rel="stylesheet" type="text/css" />
<header>
    <nav id="navbar">
        <div id="logo">
            <h3>FOOD HUB</h3>
        </div>
        <ul>
           <li><input id="btnItem" class="btn-link btn-new d-flex" type="button" value="Home" /></li>

            @if (Session["IsAdmin"].ToString() == "True")
            {
                <li><input id="btnAudit" class="btn-link btn-new d-flex" type="button" value="Audit" /></li>
                <li><h4>Admin Page</h4></li>
            }
            else
            {
                <li><input id="btnMenu" class="btn-link btn-new d-flex" type="button" value="Menu" /></li>
                <li><input id="btnMyCart" class="btn-link btn-new d-flex" type="button" value="MyCart" /></li>
                <li><input id="btnOrder" class="btn-link btn-new d-flex" type="button" value="Order" /></li>
                <li><h4>Hello @Session["UserName"] </h4></li>
            }
            <li class="btn-link btn-logout  d-flex">@Html.ActionLink("Logout", "SignOut", "FoodHub", new { area = "" }, null)</li>
        </ul>
    </nav>
 </header>


<div main-content>
    <div id="item-content">
        @if (Session["IsAdmin"].ToString() == "True")
        {
            @(Html.Kendo().Grid<Restaurant.ViewModel.GetItems>()
            .Name("edti-item")
            .Columns(columns =>
            {
                columns.Bound(p => p.ItemName).Title("Item Name").Width(130);
                columns.Bound(p => p.CategoryName).Title("Category").Width(130);
                columns.Bound(p => p.Price).Title("Price").Width(130);
                columns.Bound(p => p.Description).Title("Description");
                columns.Command(command => { command.Edit(); command.Destroy(); }).Width(200);

            })
            .ToolBar(toolbar => toolbar.Create())
            .Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("CustomAddItem"))
            .Pageable()
            .Sortable()
            .Scrollable()
            .HtmlAttributes(new { style = "height:550px;" })
            .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(20)
                .Model(model =>
                {
                    model.Id(p => p.Id);
                    model.Field(p => p.Id).Editable(false);
                })
                .Create(update => update.Action("AddItem", "FoodHub"))
                .Read(read => read.Action("GetItem", "FoodHub"))
                .Update(update => update.Action("UpdateItem", "FoodHub"))
                .Destroy(update => update.Action("DeleteItem", "FoodHub"))
            )
         )
        }
        else
        {
            @(Html.Kendo().Grid<Restaurant.Models.GetItems_Result>
        ()
        .Name("Item")
        .Columns(columns =>
        {
            columns.Bound(p => p.ItemName).Title("Product Name").Width(130);
            columns.Bound(p => p.CategoryName).Title("Category").Width(130);
            columns.Bound(p => p.Price).Title("Price").Width(130);
            columns.Bound(p => p.Description).Title("Description");
            columns.Command(command => command.Custom("Add to Cart").Click("Add")).Width(120);
        })
        .Pageable()
        .Sortable()
        .Scrollable()
        .HtmlAttributes(new { style = "height:550px;" })
        .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .Model(model => model.Id(p => p.Id))
        .Read(read => read.Action("GetItem", "FoodHub"))
        ))
        }


    </div>

    <div id="audit-content"></div>
    

    <div id="orderPlaced" class="ordred-popup">
        <fieldset>
            <h3>Order Placed!</h3>
            <h5>Our executive will contact you soon</h5>
        </fieldset>
        
            <input id="btnOk" type='button' value='OK' name='placeorder' class='btn  btn-success ' />
        
    </div>

    <div id="myCart" class="popup">
        <fieldset>
            <legend>Selected Items</legend>
            <table style="width:100%" id="tblRestaurantItemList">
                <thead>
                    <tr>
                        <th hidden>
                            Item Id
                        </th>
                        <th>
                            Item Name
                        </th>
                        <th>
                            Unit Price
                        </th>
                        <th>
                            Quantity
                        </th>

                        <th>
                            Total Price
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
            </table>

        </fieldset>
        <div class="btn-position">
            <input id="btncancel" type='button' value='Cancel' name='cancel' class='btn btn-primary ' />
            <input id="btnplaceorder" type='button' value='Placeorder' name='placeorder' class='btn btn-success ' />
        </div>
    </div>
</div>

<script src="~/Scripts/Main.js"></script>
<script>



    var itemCount = 0;
    var totalItemList;
    var ItemId;
    var ItemName;
    var ItemPrice;
    var quantity;
    var totalprice;
    var check = true;

    function Add(e) {
        e.preventDefault();
        if (itemCount == 0) {
            itemCount++;
             totalItemList = $("#tblRestaurantItemList");
             dataItem = this.dataItem($(e.currentTarget).closest("tr"));
             ItemId = dataItem.Id;
             ItemName = dataItem.ItemName;
             ItemPrice = dataItem.Price;


        } else {
            dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            if (dataItem.Id == ItemId) {
                itemCount++
            }
        }
        quantity = itemCount;
        totalprice = ItemPrice * quantity;
    }
    var order_popup = document.getElementById("orderPlaced");
    var popup = document.getElementById("myCart");

    $('#btnMyCart').click(function () {

        popup.classList.add("popup-open");
        if (itemCount) {
            ItemList = "<tr><td hidden> " + ItemId + "</td><td>"
                + ItemName + "</td><td>" +
                parseFloat(ItemPrice).toFixed(2) + "</td><td>" +
                parseFloat(quantity).toFixed(2) + "</td><td>"
                + parseFloat(totalprice).toFixed(2) + "</td> <td> <input type='button' value='Remove' name='remove' class='btn btn-danger' onclick='RemoveItem(this)'/> </td ></tr >";

            totalItemList.append(ItemList);
        }



    })

    $('#btncancel').click(function () {
        if ($('#myTable tr').length > 1) {
            $('#tblRestaurantItemList tr:last').remove();
        }
        itemCount = 0;
        
        popup.classList.remove("popup-open");

    })

    $('#btnOk').click(function (){
        order_popup.classList.remove("ordered-popup-open");
    })


    $('#btnplaceorder').click(function () {
        if (itemCount) {
            $.ajax({
                url: 'https://localhost:44348/api/values/order',
                method: 'POST',
                data: {
                    userId: @HttpContext.Current.Session["Id"],
                    itemId: ItemId,
                    price: totalprice,
                    quantity: quantity
                },
                success: function (result) {
                    
                    $('#tblRestaurantItemList tr:last').remove();
                    popup.classList.remove("popup-open");
                    order_popup.classList.add("ordered-popup-open");
                    itemCount = 0;

                },
                error: function (msg) {
                    alert("Order not Placed")
                    $('#tblRestaurantItemList tr:last').remove();
                    popup.classList.remove("popup-open");
                    itemCount = 0;
                }
            })
            
        }
        else {
            alert("Please Select some item")
            popup.classList.remove("popup-open");
        }
        


    })
    function RemoveItem(itemId) {
        $(itemId).closest('tr').remove();
        itemCount = 0;
        check = true;

    }

</script>


